.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader__img {
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #ffffff;
}

* {
    font-size: 100%;
    line-height: 1.7em;
}

.body {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    background: #000000;
    overflow-x: hidden;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    max-width: 1720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
}

.row-align-center {
    align-items: center;
}

.row-justify-around {
    justify-content: space-around;
}

.row-justify-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row > * {
    width: 100%;
    max-width: 100%;
}

.col {
    flex: 1 0 0;
    /*background: rgba(255, 255, 255, 0.22);*/
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.row-justify-end {
    justify-content: flex-end;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-3 {
    flex: 0 0 auto;
    width: calc((100% / 12) * 3);
}

.col-7 {
    flex: 0 0 auto;
    width: calc((100% / 12) * 7);
}

.col-5 {
    flex: 0 0 auto;
    width: calc((100% / 12) * 5);
}

.col-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
}

.col-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
}

.white-logo {
    width: 180px;
}

.title-1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.title-2 {
    font-size: 2.7rem;
    font-weight: bold;
    margin: 0;
    line-height: 52px;
    font-family: "Raleway", sans-serif;
}

.title-3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    line-height: 40px;
}

.text {
    margin: 0;
    font-size: 1rem;
}

.button {
    font-size: 0.8rem;
    display: inline-block;
    padding: 19px 58px;
    background: #1A4609;
    border-radius: 0 0 0 25px;
    color: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color .3s;
}

.button:hover {
    background: #3D5D38;
    transition: background-color .3s;
}

.button_yellow {
    background: none;
    border: solid 1px #d4af37;
    color: #D4AF37;
    transition: all .3s;
}

.button_yellow:hover {
    background: #d4af37;
    color: #ffffff;
    transition: all .3s;
}

/* Header Section */

.header {
    background: rgba(0,0,0, .5);
    padding: 30px 0;
    position: sticky;
    width: 100%;
    z-index: 5;
    top: 0;
}

.header__landing {
    position: fixed;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    margin-left: 130px;
    font-size: 1rem;
    padding-bottom: 15px;
    transition: color .3s;
}

.header__link:hover {
    color: #D4AF37;
    border-bottom: 1px #D4AF37 solid;
    transition: color .3s;
}

.header__link:first-child {
    margin-left: 0;
}

/* Start Section */

.start {
    height: 800px;
    background-image: url(/images/start.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.start__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.start__title {
    margin-bottom: 25px;
    line-height: 65px;
}

.about {
    background-image: url(/images/backgrounds/about.webp);
    background-size: 100% 100%;
    padding: 100px 0;
}

.about__img {
    width: 100%;
}

.about__title {
    margin-bottom: 60px;
}

.about__sub-title {
    margin-bottom: 10px;
}

.about__text {
    margin-bottom: 40px;
}

.tabs {
    padding: 150px 0 100px 0;
    background-image: url(/images/backgrounds/tabs.webp);
    background-size: 100% 100%;
}

.grecaptcha-badge {visibility: hidden;}

.tabs__menu {
    display: flex;
}

.tabs__block {
    position: relative;
    z-index: 2;
}

.tabs__menu-item {
    flex-grow: 1;
    text-align: center;
    background: #4C6F3F;
    font-size: 1.8rem;
    padding: 45px 0;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.tabs__content {
    height: 700px;
    background: #D4AF37;
    border-radius: 0 0 15px 15px;
}

.tabs__item {
    padding-top: 90px;
    display: none;
}

.tabs__item_active {
    display: block;
}

.tabs__text {
    color: #1E201E;
    margin-bottom: 25px;
}

.tabs__img {
    width: 100%;
    border-radius: 15px;
}

.tabs__menu-item_active {
    background: #D4AF37;
    color: #1E201E;
}

.tabs__title {
    color: #1E201E;
    margin-bottom: 10px;
}

.tabs__green {
    width: 80%;
    height: 100%;
    background: #3D5D38;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    top: 20px;
}

.tabs__container {
    position: relative;
}

.product__title {
    margin-bottom: 60px;
}

.products__swiper {
    overflow: visible;
}

.products {
    padding: 150px 0;
    background-image: url(/images/backgrounds/products.webp);
    background-size: 100% 100%;
}

.products__img {
    height: 150px;
    margin-bottom: 35px;
}

.products__item {
    background: linear-gradient(197.41deg, #020F00 -148.02%, #284924 -21.57%, #000900 138.96%);
    border-radius: 15px;
    text-align: center;
    padding: 60px 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
    height: 100%;
    z-index: 2;
}

.products__yellow {
    position: absolute;
    width: 80%;
    background: #D4AF37;
    height: 50px;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    transition: all .3s;
}

.header__lang-select {
    cursor: pointer;
}

.header__menu-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__lang-drop {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
}

.header__lang {
    position: relative;
}

.header__lang-img {
    height: 50px;
}

.products__slide {
    height: auto;
}

.products__slide:hover .products__item {
    background: linear-gradient(197.41deg, #020F00 -148.02%, #3D5D38 -21.57%, #000900 138.96%);
    transform: scale(1.1);
    transition: all .3s;
}

.products__slide:hover .products__yellow {
    bottom: -60px;
    transition: all .3s;
}

.products__item:after {
    content: ' ';
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    border: solid 1px #d4af37;
    border-radius: 15px;
}

.products__title {
    color: #D4AF37;
    margin-bottom: 15px;
}

.products__sub-title {
    margin-bottom: 15px;
}

.products__desc {
    margin: 0 0 40px 0;
}

.products__ico-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.products__ico {
    height: 50px;
}

.products__btn {
    position: relative;
    z-index: 2;
}

.products__btn-wrap {
    width: 100%;
}

.making {
    padding: 150px 0;
    background-image: url(/images/backgrounds/making.webp);
    background-size: 100% 100%;
}

.making__title {
    margin-bottom: 60px;
}

.making__phar {
    margin-bottom: 40px;
}

.making__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.making__photo-col {
    margin-bottom: 15px;
    margin-top: 15px;
}

.software {
    padding: 150px 0;
    background-image: url(/images/backgrounds/software.webp);
    background-size: 100% 100%;
}

.software__title {
    margin-bottom: 60px;
}

.software__text {
    margin-bottom: 40px;
}

.software__row:first-child {
    margin-bottom: 250px;
}

.software__img {
    width: 100%;
}

.mission {
    padding: 150px 0;
    background-image: url(/images/backgrounds/mission.webp);
    background-size: 100% 100%;
}

.mission__title {
    margin-bottom: 60px;
}

.mission__video {
    object-fit: cover;
    border-radius: 0 0 0 150px;
    position: relative;
    z-index: 2;
}

.mission__video-wrap {
    position: relative;
}

.mission__word {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    height: calc(100% + 200px);
}

.mission__dot {
    width: 35px;
    height: 35px;
    margin-right: 40px;
    background: #D4AF37;
    border-radius: 50%;
    flex-shrink: 0;
}

.mission__info {
    display: flex;
    margin-bottom: 40px;
}

.values {
    padding: 150px 0;
    background-image: url(/images/backgrounds/values.webp);
    background-size: 100% 100%;
}

.values__title {
    margin-bottom: 60px;
}

.values__title {
    margin-bottom: 60px;
}

.values__list {
    display: flex;
    gap: 30px;
    margin-top: 200px;
}

.values__item {
    background: linear-gradient(197.41deg, #020F00 -148.02%, #3D5D38 -21.57%, #000900 138.96%);
    padding: 40px;
    border-radius: 15px;
    position: relative;
}

.values__phar {
    margin-bottom: 30px;
}

.values__dot {
    background: #000000;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: -15px;
    z-index: 3;
}

.values__dot:after {
    content: ' ';
    background: #D4AF37;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contacts {
    padding: 150px 0 400px 0;
    background-image: url(/images/backgrounds/contacts.webp);
    background-size: 100% 100%;
}

.contacts__info {
    display: block;
}

.contacts__title {
    margin-bottom: 25px;
    max-width: 600px;
}

.contacts__text {
    margin-bottom: 50px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__input {
    font-size: 16px;
    background: none;
    color: #ffffff;
    border: solid 1px #D4AF37;
    padding: 15px 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    outline: none;
}

.contacts__input::placeholder {
    color: #D4AF37;
}

.contacts__btn-wrap {
    display: flex;
    align-items: center;
}

.contacts__btn {
    margin-right: 25px;
}

.contacts__error {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    max-width: 320px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    padding: 30px 0;
}

.footer__text {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__submenu {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__line {
    width: 100%;
    height: 1px;
    background: #282828;
    margin: 30px 0;
}

.footer__sublink {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__social {
    width: 30px;
    margin-left: 30px;
}

.footer__link {
    line-height: 0;
}

.footer__link:first-child .footer__social {
    margin-left: 0;
}

.toggle-hamburger {
    display: none;
}

.header__lang-wrap {
    display: flex;
    align-items: center;
}

.header__lang {
    width: 50px;
}

.about-page {
    padding: 50px 0;
    background-image: url(/images/backgrounds/about-page.webp);
    background-size: 100% 100%;
}

.about-page__text {
    margin-bottom: 25px;
}

.about-page__title {
    margin-bottom: 60px;
}

.profit-about {
    display: flex;
    align-items: center;
}

.profit-about__text {
    color: #d4af37;
    margin-right: 60px;
    max-width: 650px;
}

.about-page__text-wrap {
    margin-bottom: 30px;
}

.back-btn {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    margin-bottom: 60px;
    display: block;
}

.about-page__profit {
    margin-bottom: 60px;
}

.about-page__cam {
    display: flex;
    align-items: flex-start;
    max-width: 700px;
}

.about-page__clear {
    margin-bottom: 60px;
    max-width: 650px;
}

.about-page__cam-img {
    width: 100px;
    margin-right: 30px;
}

.about-page__cam-text {
    font-size: 30px;
}

.contact-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/images/backgrounds/contact_popup.webp);
    background-size: cover;
    z-index: 8;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-popup__desc {
    color: #d4af37;
}

.contact-popup__close {
    position: absolute;
    right: 50px;
    top: 30px;
}

.contact-popup__title {
    margin-bottom: 15px;
}

.about-page__img_sm {
    position: relative;
}

.about-page__img {
    width: 80%;
}

.about-page__img-wrap {
    position: relative;
}

.about-page__img {
    width: 80%;
}

.about-page__img_sm {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 60%;
}

.close {cursor: pointer;}
.close:before, .close:after {content: ""; position: absolute; width: 35px; height: 3px; background: gray;}
.close:before {transform: rotate(45deg);}
.close:after {transform: rotate(-45deg);}

.investors {
    padding: 50px 0;
    background-image: url(/images/backgrounds/investors.webp);
    background-size: 100% 100%;
    position: relative;
}

.investors__cannabis {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
}

.investors__title {
    margin-bottom: 60px;
}

.investors__phar {
    margin-bottom: 25px;
}

.investors__g {
    width: 100%;
}

.legal-business__phar {
    margin-top: 25px;
}

.legal-business__text {
    margin-bottom: 60px;
}

.legal-business {
    padding: 150px 0;
    background-image: url(/images/backgrounds/legal-business.webp);
    background-size: cover;
}

